# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\OneDrive - pop.zjgsu.edu.cn\PythonPath\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
